@model CozySmart.ViewModels.SearchFormViewModel




@using (Html.BeginForm("Search", "Accommodations", FormMethod.Get, new { @class = "multi-data/form-control form-area" }))
{
    <h2 class="title-form">Search</h2>

    <div class="form-group">

        @Html.LabelFor(m => m.SearchLocation)
        @Html.TextBoxFor(m => m.SearchLocation, new { @class = "form-control", placeholder = "Enter the name of the City" })
        @Html.ValidationMessageFor(m => m.SearchLocation)

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.SearchArrival)
        @Html.EditorFor(m => m.SearchArrival, new { htmlAttributes = new { @class = "form-control"} })
        @Html.ValidationMessageFor(m => m.SearchArrival)

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.SearchDeparture)
        @Html.EditorFor(m => m.SearchDeparture, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.SearchDeparture)

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.SearchOccupancy)
        @Html.TextBoxFor(m => m.SearchOccupancy, new { @class = "form-control", placeholder = "Minimum Occupancy" })
        @Html.ValidationMessageFor(m => m.SearchOccupancy)

    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
