@model IEnumerable<CozySmart.Models.Availability>

<h2>Availability Index</h2>

<p>
    @Html.ActionLink("Add Availability", "New")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.AccommodationId)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.AvailabilityStart)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.AvailabilityEnd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityEnd)
            </td>
            <td></td>
        </tr>
    }

</table>



