@model CozySmart.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h3>Welcome to your profile</h3>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
    <div class="row">
        <div class="col-md-3">
            <p><span class="profile-label">@Html.DisplayNameFor(m => m.FirstName): </span><span class="profile-display">@Html.DisplayFor(m => m.FirstName)</span></p>

            <p><span class="profile-label">@Html.DisplayNameFor(m => m.LastName): </span><span class="profile-display">@Html.DisplayFor(m => m.LastName)</span></p>

            <p><span class="profile-label">@Html.DisplayNameFor(m => m.Email): </span><span class="profile-display">@Html.DisplayFor(m => m.Email)</span></p>

            <p><span class="profile-label">@Html.DisplayNameFor(m => m.DateJoined): </span><span class="profile-display">@Html.DisplayFor(m => m.DateJoined)</span></p>




            <br />



        </div>
        <div class="col-md-2">
            <a href="~/Manage/ChangePassword" class="btn btn-primary profile-btn">Change Password</a>
            <a href="#" class="btn btn-primary profile-btn">Change Email</a>
        </div>

    </div>
