@model CozySmart.ViewModels.AccommodationFormViewModel
@{
    ViewBag.Title = "New";
}

<h2 class="col-md-offset-2">New Accommodation</h2>
<hr />

@using (Html.BeginForm("Save", "Accommodations"))
{
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Title)
        @Html.TextBoxFor(m => m.Accommodation.Title, new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Location)
        @Html.TextBoxFor(m => m.Accommodation.Location, new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Adress)
        @Html.TextBoxFor(m => m.Accommodation.Adress, new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.CategoryId)
        @Html.DropDownListFor(m => m.Accommodation.CategoryId, new SelectList(Model.Categories, "Id", "Description"), "Select a category", new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Occupancy)
        @Html.TextBoxFor(m => m.Accommodation.Occupancy, new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Bedrooms)
        @Html.TextBoxFor(m => m.Accommodation.Bedrooms, new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Baths)
        @Html.TextBoxFor(m => m.Accommodation.Baths, new { @class = "form-control" })
    </div>
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Accommodation.Price)
        @Html.TextBoxFor(m => m.Accommodation.Price, new { @class = "form-control" })
    </div>




    @Html.HiddenFor(m => m.Accommodation.Id)

    <br />
    <button type="submit" class="btn btn-primary">Save</button>

}