@model CozySmart.ViewModels.AccommodationFormViewModel
@{
    ViewBag.Title = "New";
}

<h2 class="col-md-offset-2">New Accommodation</h2>
<hr />


@using (Html.BeginForm("Save", "Accommodations"))
{
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "Please fix the following errors")

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Accommodation.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Accommodation.Location, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Accommodation.Adress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Adress)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Accommodation.CategoryId, new SelectList(Model.Categories, "Id", "Description"), "Select a category", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.CategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Occupancy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Accommodation.Occupancy, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Occupancy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Bedrooms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.TextBoxFor(m => m.Accommodation.Bedrooms, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Bedrooms)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Baths, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.TextBoxFor(m => m.Accommodation.Baths, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Baths)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Accommodation.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.TextBoxFor(m => m.Accommodation.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Accommodation.Price)
            </div>
        </div>




        @Html.HiddenFor(m => m.Accommodation.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.AntiForgeryToken()

        <br />

        <div class="form-group">
            <div class="col-md-offset-3 col-md-7">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}