@model CozySmart.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Accommodation.Title</h2>

<div>
    <h4><span class="glyphicon glyphicon-map-marker"></span>@Model.Accommodation.Adress, @Model.Accommodation.Location</h4>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <p>Further Details</p>
                </div>

                <div class="panel-body">
                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(m => m.Accommodation.CategoryId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(m => m.Accommodation.CategoryId)
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(m => m.Accommodation.Occupancy)
                        </dt>
                        <dd>
                            <span>A maximum of </span>
                            @Html.DisplayFor(m => m.Accommodation.Occupancy)
                            <span> Visitors</span>
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Accommodation.Bedrooms)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Accommodation.Bedrooms)
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Accommodation.Baths)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Accommodation.Baths)
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Accommodation.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Accommodation.Price)
                            <span class="glyphicon glyphicon-euro"></span>
                        </dd>
                    </dl>

                </div>

                <div class="panel-footer text-center">
                    <a href="~/Accommodations/Edit/@Model.Accommodation.Id" class=" = btn btn-success" role="button">Edit</a>
                    <a href="~/Bookings/AutoBooking/@Model.Accommodation.Id" class=" = btn btn-primary" role="button">Book</a>
                </div>

            </div>
        </div>

        <div class="col-md-9">
            @if (Model.Images.Count() == 0)
            {
                <img src="@Model.Accommodation.Thumbnail" alt="Thumbnail" class="center-block detail-img" />
            }
            else
            {
                @Html.Partial("Carousel")
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            @Html.Partial("Description")
        </div>

        <div class="col-md-2">
            @Html.Partial("Amenities")
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
