@model CozySmart.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>
    <h4>
        <span class="glyphicon glyphicon-map-marker"></span>
        <span>@Model.Adress, @Model.Location</span>

        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bookingModal">Book</button>

        <a href="~/Accommodations/Edit/@Model.Id" class=" = btn btn-success pull-right btn-details" role="button">Edit</a>
        <a href="~/Accommodations/Edit/@Model.Id" class=" = btn btn-success pull-right btn-details" role="button">Add Occupation</a>
        <a href="~/Images/New/@Model.Id" class=" = btn btn-success pull-right btn-details" role="button">Add Image</a>
    </h4>



    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <p>Further Details</p>
                </div>

                <div class="panel-body">
                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(m => m.CategoryId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(m => m.CategoryId)
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(m => m.Occupancy)
                        </dt>
                        <dd>
                            <span>A maximum of </span>
                            @Html.DisplayFor(m => m.Occupancy)
                            <span> Visitors</span>
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Bedrooms)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bedrooms)
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Baths)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Baths)
                        </dd>
                    </dl>

                    <hr />

                    <dl class="text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                            <span class="glyphicon glyphicon-euro"></span>
                        </dd>
                    </dl>

                </div>
            </div>
        </div>

        <div class="col-md-9">
            @if (Model.Images.Count() == 0)
            {
                <img src="@Model.Thumbnail" alt="Thumbnail" class="center-block detail-img" />
            }
            else
            {
                @Html.Partial("Carousel")
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            @Html.Partial("Availabilities")
        </div>
        <div class="col-md-7">
            @Html.Partial("Description")
        </div>

        <div class="col-md-2">
            @Html.Partial("Amenities")
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <a href="~/Bookings/AutoBooking/@Model.Id" class=" = btn btn-primary pull-right" role="button">Confirm</a>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>