@model IEnumerable<CozySmart.Models.Accommodation>

@{
    ViewBag.Title = "Accommodations";
}

<h2>Accommodations</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (!Model.Any())
{
    <p>There are not any accommodation yet.</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupancy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>*Booking Button*</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accommodation in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(accommodation.Title, "Details", "Accommodations", new { id = accommodation.Id}, null)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => accommodation.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => accommodation.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => accommodation.Occupancy)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => accommodation.Price)
                    </td>    
                    <td>
                        <a href="~/Bookings/Create" class=" = btn btn-success" role="button">Book It Now</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}