@using CozySmart.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}


@Html.Partial("NavbarAnonymous")


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "multi-data/form-control form-area", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="title-form">Use a local account to log in.</h4>
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password" })
        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@

    </div>
    <div class="form-group">        
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
    </div>
    <div class="form-group">        
            <input type="submit" value="Log in" class="btn btn-default" />        
    </div>
    <p>
        @Html.ActionLink("Register as a new user", "Register", new { @class="btn btn-info" })
    </p>
   
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}