@model CozySmart.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}


@Html.Partial("NavbarAnonymous")

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "multi-data/form-control form-area-register", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4 class="title-form">Create a new account</h4>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)

        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter your first name" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)

        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter your last name" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)

        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)

        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm your password" })

    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
